@import "tailwindcss";

@theme {
  --color-gold: #c5a059;
  --color-dark: #0f0f0f;
  --color-gold-light: #e5d5b7;
}

@layer base {
  body {
    font-family: "Segoe UI", Tahoma, sans-serif;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
